doctype html
html
    head
        title Working with ID's and Classes
    body
        div.page-content
            h1.header-title Working with ID's and Classes
        div#special-container
            h2#my-special-title This is my special title
        